<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Gin</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container-fluid">
Hello World!
</body>
</html>
