body {
  margin: 50px 20px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#editor {
  margin: 0 auto;
}

#editor.preview-visible {
  right: 50%;
  width: 50%;
}

#editor.preview-visible .CodeMirror {
  margin-left: 20px;
  margin-right: 0;
  width: 80%;
}

/* CodeMirror */

.CodeMirror {
  font-family: "Menlo", "Courier" monospace;
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
}

.CodeMirror-scroll {
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 750px) {
  .CodeMirror-scroll {
    width: 80%;
  }
}
