body {
  font-size: 62.5%;
  margin: 25px 20px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body.preview-visible {
  overflow: hidden;
}

#editor {
  font-size: 1.2rem;
  margin: 0 auto;
}

body.preview-visible #editor {
  height: 100%;
  overflow: auto;
  position: absolute;
  right: 50%;
  width: 50%;
}

body.preview-visible #editor .CodeMirror-scroll {
  margin: 0 20px;
  width: auto;
}

/* CodeMirror */

.CodeMirror {
  font-family: "Menlo", "Courier", monospace;
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
}

.CodeMirror-scroll {
  margin: 0 auto;
  width: 750px;
}

.CodeMirror-selected {
  background-color: #b2d7ff !important;
}

@media (max-width: 750px) {
  .CodeMirror-scroll {
    width: 100%;
  }
}

#statusbar {
  background-color: #FFF;
  border-top: 1px solid #d5d5d5;
  bottom: 0;
  color: #676767;
  display: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  left: 0;
  height: 17px;
  padding-top: 3px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1000;
}

body.statusbar-visible #statusbar {
  display: block;
}

#statusbar p {
  margin: 0;
}

.status-words {
  float: left;
  margin-left: 10px;
}

.status-chars {
  float: left;
  margin-left: 15px;
}

.status-duration {
  float: right;
  margin-right: 10px;;
}
