body {
  margin: 25px 20px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body.preview-visible {
  overflow: hidden;
}

#editor {
  margin: 0 auto;
}

body.preview-visible #editor {
  height: 100%;
  overflow: auto;
  position: absolute;
  right: 50%;
  width: 50%;
}

body.preview-visible #editor .CodeMirror-scroll {
  margin: 0 20px;
  width: auto;
}

/* CodeMirror */

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  margin: 0 auto;
  width: 750px;
}

@media (max-width: 750px) {
  .CodeMirror-scroll {
    width: 100%;
  }
}
