/* gin theme */

.CodeMirror {
  font-family: "Menlo", "Courier" monospace;
  font-size: 1rem;
  line-height: 1.5;
}

.cm-comment {
  color: #808080;
}

.cm-variable-2 {
  color: #2ca997;
}

.cm-variable-3 {
  color: #808080;
}

.cm-header-1 {
  font-size: 1.4rem;
}

.cm-link,
.cm-formatting-link,
.cm-url {
  color: #2095bd;
  text-decoration: none;
}

.cm-tag,
.cm-tag + .cm-string,
.cm-tag + .cm-string + .cm-url,
.cm-tag + .cm-string + .cm-string + .cm-string {
  color: #9d4fc4;
}

img {
  height: auto;
  width: 100%;
}

pre, code {
  color: #808080;
}

table {
  border-collapse: collapse;
  border: 1px solid #808080;
}

table td, table th {
  border: 1px solid #808080;
  padding: 5px 10px;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
