/* gin theme */

/* editor */
.cm-comment {
  color: #808080;
}

/* list */
.cm-variable-2 {
  color: #2ca997;
}

.cm-variable-3 {
  color: #808080;
}

.cm-header-1 {
  color: #000;
  font-size: 1.3rem;
}

.cm-header-2 {
  color: #232323;
  font-size: 1.2rem;
}

.cm-header-3 {
  color: #4d4d4d;
  font-size: 1.1rem;
}

.cm-header-4 {
  color: #808080;
  font-size: 1rem;
}

.cm-header-5 {
  color: #808080;
  font-size: 1rem;
}

.cm-header-6 {
  color: #808080;
  font-size: 1rem;
  font-weight: normal;
}

/* link */
.cm-link,
.cm-formatting-link,
.cm-url {
  color: #2095bd;
  text-decoration: none;
}

/* image */
.cm-tag,
.cm-tag + .cm-string,
.cm-tag + .cm-string + .cm-url,
.cm-tag + .cm-string + .cm-string + .cm-string {
  color: #9d4fc4;
}

/* preview */

#preview li {
  color: #2ca997;
}

#preview a {
  color: #3496bd;
}
