/* gin theme */

.CodeMirror {
  font-family: "Menlo", "Courier" monospace;
  font-size: 1rem;
  line-height: 1.5;
}

.cm-variable-2 {
  color: #2ca997;
}

.cm-variable-3 {
  color: #808080;
}

.cm-header-1 {
  font-size: 1.4rem;
}

.cm-link,
.cm-formatting-link,
.cm-url {
  color: #2095bd;
  text-decoration: none;
}

img {
  height: auto;
  width: 75%;
}

pre, code {
  color: #808080;
}
