#preview {
  bottom: 0;
  border-left: 1px solid #d5d5d5;
  display: none;
  font-family: "Avenir", "Helvetica", "Arial", sans-serif;
  height: 100%;
  left: 50%;
  overflow: auto;
  padding: 0 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

body.preview-visible #preview {
  display: block;
}

#preview li {
  color: #2ca997;
}

#preview a {
  color: #3496bd;
}
