#preview {
  bottom: 0;
  border-left: 1px solid #d5d5d5;
  display: none;
  font-family: "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  height: 100%;
  left: 50%;
  overflow: auto;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

body.preview-visible #preview {
  display: block;
}

#preview pre,
#preview code {
  font-family: Courier, monospace;
}

img {
  height: auto;
  width: 100%;
}

pre, code {
  color: #808080;
}

table {
  border-collapse: collapse;
  border: 1px solid #808080;
}

table td, table th {
  border: 1px solid #808080;
  padding: 5px 10px;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
