body,
.CodeMirror,
#statusbar
{
  background-color: #393939;
  color: #D3D0C8;
}

/*.CodeMirror,*/
#preview,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6
{
  color: #D3D0C8;
}

/* list */
.cm-variable-2 {
  color: #99CC99;
}

/* image */
.cm-tag,
.cm-tag + .cm-string,
.cm-tag + .cm-string + .cm-url,
.cm-tag + .cm-string + .cm-string + .cm-string {
  color: #F2777A;
}

/* link */
.cm-link,
.cm-formatting-link,
.cm-url {
  color: #66CCCC;
}

.CodeMirror div.CodeMirror-cursor {
  border-left-color: #D3D0C8;
}

.CodeMirror-selected {
  background-color: #4f5a67 !important;
}

#preview {
  border-left-color: #323742;
}

#statusbar {
  border-top-color: #323742;
}
