/* background-color */
body,
.CodeMirror,
#statusbar
{
  background-color: #393f4c;
}

/* text color */
body,
.CodeMirror,
#statusbar,
#preview,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6
{
  color: #cbd0d7;
}

/* list */
.cm-variable-2,
#preview li {
  color: #b2c89d;
}

/* image */
.cm-tag,
.cm-tag + .cm-string,
.cm-tag + .cm-string + .cm-url,
.cm-tag + .cm-string + .cm-string + .cm-string {
  color: #cc777d;
}

/* link */
.cm-link,
.cm-formatting-link,
.cm-url,
#preview a {
  color: #a0b1c0;
}

.CodeMirror div.CodeMirror-cursor {
  border-left-color: #cbd0d7;
}

.CodeMirror-selected {
  background-color: #434d57 !important;
}

#preview {
  border-left-color: #353a45;
}

#statusbar {
  border-top-color: #353a45;
}
